body {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  background: #e5e5e5;
}

a:visited {
  color: #595959;
}
a {
  text-decoration: none;
  color: #595959;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: black;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
h1,h2,h3,h4 {
  color: black;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
ol {
  list-style-type: decimal;
}
ol li::marker {
  font-weight: bold;
  color: black;
}
.organization {
  color: #FB6D3A;
}
.line {
  display: inline-block;
  width: 100px;
  height: 3px;
  border-bottom: dashed 1px;
}
.duration{
  color: #A8A8A8;
}
.duration span {
  color: black;
}
ul {
  padding-left: 15px;
}
.faculty {
  color: black;
  font-weight: bold;
}
.university {
  color: #FB6D3A;
  font-weight: bold;
}
.main {
  display: flex;
  flex-direction: row-reverse;
  margin: 40px;
  max-width: 1200px;
}

.main-content {
  background-color: white;
  box-shadow: 6px 6px 20px rgba(62, 62, 62, 0.8);
  padding: 105px 90px;
}
.about {
  max-width: 400px;
  margin-bottom: 40px;
}
.projects {
  max-width: 800px;
  margin-bottom: 40px;
  padding-left: 0px ;
}
.work {
  max-width: 800px;
  margin-bottom: 40px;
}
.projects-bracket {
  font-weight: bold;
  color: black;
}

.sidebar {
  color: white;
  background: #1e2939;
  padding-top: 40px;
  width: 370px;
}
.sidebar h3 {
  color:white;
}
.sidebar div{
  padding-left: 40px;
}
.sidebar ul {
  list-style: none;
  /* font-style: normal; */
  padding: 0;
}
.sidebar ul li{
  margin-bottom: 9px;
}
.sidebar li::before{
  content: "\2022";
  color:#FB6D3A;
}
